<!-- start custom analytics snippet -->
<!-- Default Statcounter code for Personal Website
https://www.ariboyarsky.com -->
<script type="text/javascript">
var sc_project=12456623; 
var sc_invisible=1; 
var sc_security="859ad8c3"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/12456623/0/859ad8c3/1/"
alt="Web Analytics"></a></div></noscript>
<!-- End of Statcounter Code -->
<!-- end custom analytics snippet -->
